<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NBE6-8-1-Team 12">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Caffe Menu Service</title>
</head>
<body>
<div class="background-blur"></div>
<header th:replace="~{fragments/header :: headerFragment}"></header>
<th:block layout:fragment="content"></th:block>
<th:block layout:fragment="script"></th:block>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>